* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Inconsolata", monospace;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 14px;
  min-height: 100vh;
  background-image: linear-gradient(#164863, #ddf2fd);
}

h1 {
  text-emphasis: "🤖";
  text-align: center;
}

h3 {
  color: #164863;
}

form,
section {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

form {
  align-items: center;
}

form textarea {
  resize: none;
  width: 100%;
  min-height: 70px;
  padding: 14px;
  border-radius: 5px;
  background-color: #ddf2fd;
}

form textarea:hover {
  background: lightblue;
}

form button {
  padding: 6px;
  cursor: pointer;
  background-color: #ddf2fd;
  width: 50%;
}

.todoContainer,
.todo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todo {
  padding: 14px;
  border: 1px solid #164863;
  border-radius: 5px;
}

.btnContainer {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-left: auto;
}

.completeItem {
  text-decoration: line-through;
}

.iconBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 8px;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.complete:hover {
  background: green;
}

.delete:hover {
  background: lightcoral;
}

.edit:hover {
  background: orange;
}
